/* Custom color variables */
:root {
  --primary-text-color: #751A2B;
  --secondary-text-color: #F38B2A;
  --primary-bg-color: #fcebed;
  --accent-color: #3b2a0a;
}

/* Global text and background colors */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

/* Text shadow for hero section */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

link styling
a {
  color: var(--primary-text-color);
  text-decoration: none;
}

a:hover {
  transition: all 0.3s;
}

/* Responsive adjustments */
@media (max-width: 640px) {
  .min-h-\[500px\] {
    min-height: 400px;
  }

  .text-4xl {
    font-size: 2rem;
  }

  .text-lg {
    font-size: 1rem;
  }

  .h-64 {
    height: 180px;
  }
}